iframe {
    background-color: whitesmoke;
}

body {
    background-color: whitesmoke;
    color: black;
    font-family: "Times New Roman", serif;
    font-size: 14px;
}

h1 {
    font-size: 40px;
    font-family: "Times New Roman", serif;
    text-align: center;
    color: black;
}

hs {
    font-size: 14px;
    font-family: "Times New Roman", serif;
    text-align: left;
    color: black;
}

pl:link {
    text-decoration: none;
    font-size: 14px;
    font-family: "Calibri", serif;
    text-align: center;
    color: black;
}
pl:hover {
    text-decoration: underline;
    font-size: 14px;
    font-family: "Calibri", serif;
    text-align: center;
    color: black;
}

a:link {
    text-decoration: none;
    font-size: 14px;
    font-family: "Calibri", serif;
    text-align: left;
    color: black;
}
a:hover {
    text-decoration: underline;
    font-size: 14px;
    font-family: "Calibri", serif;
    text-align: left;
    color: black;
}


p {
    font-size: 14px;
    font-family: "Times New Roman", serif;
    text-align: center;
    color: black;
}
