iframe {
    background-color: whitesmoke;
}

body {
    background-color: whitesmoke;
    color: black;
    font-family: "Times New Roman", serif;
    font-size: 14px;
}

h1 {
    font-size: 40px;
    font-family: "Times New Roman", serif;
    text-align: center;
    color: black;
}

link {
    font-size: 14px;
    font-family: "Times New Roman", serif;
    text-align: center;
    color: black;
}

altlink {
    font-size: 14px;
    font-family: "Times New Roman", serif;
    text-align: left;
    color: black;
}

p {
    font-size: 14px;
    font-family: "Times New Roman", serif;
    text-align: center;
    color: black;
}

hr {
    color: black;
    size: 1;
}
