iframe {
    background-color: whitesmoke;
}

body {
    background-color: whitesmoke;
    color: black;
    font-family: "comic sans ms", sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 40px;
    font-family: "comic sans ms", sans-serif;
    text-align: center;
    color: black;
}

p {
    color: whitesmoke;
    font-size: 14px;
    font-family: "comic sans ms", sans-serif;
    text-align: center;
    color: black;
}

link {
    font-size: 14px;
    font-family: "Times New Roman", serif;
    text-align: center;
    color: black;
}

altLink {
    font-size: 14px;
    font-family: "Times New Roman", serif;
    text-align: left;
    color: black;
}

a {
    color: black;
    font-size: 14px;
    font-family: "comic sans ms", sans-serif;
    text-align: right;
}

hr {
    color: black;
    size: 1;
}